html{
	width: 100%;
	height: 100%;
	-webkit-text-size-adjust:none;
	-moz-text-size-adjust:none;
	-ms-text-size-adjust:none;
	-o-text-size-adjust:none;
	text-size-adjust:none;
}
body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color:#47c9af;
	color:#74777b;
	font-weight: 300;
	font-size: 20px;
	font-family: "Raleway","Arail";
}
ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.nav{
	width: 800px;
	height: 300px;
	margin: 200px auto;
	text-align: center;
}
.nav ul li{
	display: inline-block;
}
a:link,a:visited,a:focus{
	text-decoration: none;
}
*,*:after,*:before{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
}
*:after,*:before{
	display:block;
	content: "";
}
*:after{
	clear: both;
}
.toolTip{
	color:rgba(0,0,0,0.3);
	display: inline-block;
	font-size: 23px;
	font-weight: 600;
	padding: 0 25px;
	position: relative;
	z-index: 999;
	-webkit-transition:color 0.5s;
	transition:color 0.5s;
}
.toolTip:hover{
	color: rgba(255,255,255,1);
}
.toolTip-content{
	position: absolute;
	width: 80px;
	height: 80px;
	background:#fff;
	border-radius: 50%;
	left: 50%;
	bottom: 100%;
	margin-left:-40px;
	margin-bottom: 20px;
	opacity: 0;
	z-index: 9999;
	padding-top: 23px;
	color:#47c9af; 
	text-align: center;
	-webkit-transition:opacity 0.5s,-webkit-transform 0.5s;
	transition:opacity 0.5s,transform 0.5s;
}
.toopTip .toolTip-content i{
	opacity:0;
	-webkit-transition:opacity 0.5s,-webkit-transform 0.5s;
	transition:opacity 0.5s,transform 0.5s;
}
.toolTip-content::after{
	display: block;
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	background:url("CSS3实现tooltip/img/tooltip1.svg") no-repeat center bottom;
	top: 100%;
	left:50%;
	margin-left: -10px;
	margin-top:-7px;
}
.tooltip-effect-1 .toolTip-content{
	-webkit-transform:translate3d(0,10px,0) rotate3d(1,1,1,45deg);/*定义 3D 转换。定义 3D 旋转。*/
	transform:translate3d(0,10px,0) rotate3d(1,1,1,45deg);
    -webkit-transform-origin:center bottom;
    transform-origin:center bottom;
}
.toolTip-1 .toolTip-content i{
	-webkit-transform:scale3d(0,0,1);/*定义 3D 缩放转换。*/
	transform:scale3d(0,0,1);
}
.toolTip-2 .toolTip-content{
	-webkit-transform:translate3d(0,20px,0);
	transform:translate3d(0,20px,0);
}
.toolTip-2 .toolTip-content i{
	-webkit-transform:translate3d(0,15px,0);
    transform:translate3d(0,15px,0);
}

.toolTip-3 .toolTip-content{
	-webkit-transform:translate3d(0,10px,0) rotate3d(0,1,0,90deg);/*定义 3D 转换。定义 3D 旋转。*/
	transform:translate3d(0,10px,0) rotate3d(0,1,0,90deg);
     -webkit-transform-origin:50% 100%;
     transform-origin:50% 100%;
 }
.toolTip-3 .toolTip-content i{
	-webkit-transform:scale3d(0,0,1);/*定义 3D 缩放转换。*/
    transform:scale3d(0,0,1);
}
.toolTip-4 .toolTip-content{
	-webkit-transform:translate3d(0,-20px,0);
	transform:translate3d(0,-20px,0);
 }
.toolTip-4 .toolTip-content i{
	-webkit-transform:translate3d(0,20px,0);
    transform:translate3d(0,20px,0);
}
.toolTip-5 .toolTip-content{
	-webkit-transform:scale3d(0,0,1);
	transform:scale(0,0,1);
	-webkit-transform-origin:50% 100%;
     transform-origin:50% 100%;
 }
.toolTip-5 .toolTip-content i{
	-webkit-transform:translate3d(0,20px,0);
    transform:translate3d(0,20px,0);

}
.toolTip:hover .toolTip-content,.toolTip:hover .toolTip-content i{
	opacity: 1;
	-webkit-transform:translate3d(0,0,0) rotate3d(1,1,1,0) scale3d(1,1,1);
    transform:translate3d(0,0,0) rotate3d(1,1,1,0) scale3d(1,1,1);
}



